.table {
    width: 300px;
    /* 해바라기의 너비 */
    height: 300px;
    /* 해바라기의 높이 */
    border-radius: 50%;
    /* 원 모양 */
    background-color: #FFD700;
    /* 해바라기의 색상 */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* 화면의 정중앙으로 이동 */
}

.card {
    width: 50px;
    /* 카드의 너비 */
    height: 70px;
    /* 카드의 높이 */
    background-color: #FFA500;
    /* 카드의 배경색 */
    position: absolute;
    transform-origin: bottom;
    border-radius: 10px;
    /* 카드의 모서리를 둥글게 */
}

.card img {
    width: 100%;
    /* 이미지 너비를 카드에 맞춤 */
    height: 100%;
    /* 이미지 높이를 카드에 맞춤 */
    border-radius: 10px;
    /* 이미지 모서리를 둥글게 */
}

.card:nth-child(1) {
    top: -35px;
    /* 첫번째 카드의 위치 */
    left: calc(50% - 25px);
    /* 가운데 정렬 */
}

.card:nth-child(2) {
    top: 50%;
    /* 원의 중심에서의 상대적인 위치 */
    left: calc(50% + 145px);
    /* 원의 오른쪽 끝에서 오른쪽으로 이동 */
    transform: translate(-50%, -50%) rotate(90deg);
    /* 회전하여 배치 */
    transform-origin: center center;
    /* 카드의 중심을 회전 중심으로 설정 */
}

.card:nth-child(3) {
    top: calc(50% + 145px);
    /* 원의 중심에서 아래쪽으로 이동 */
    left: calc(50% + 5px);
    /* 원의 중심에서 왼쪽으로 이동 */
    transform: translate(-50%, -50%) rotate(180deg);
    /* 회전하여 배치 */
    transform-origin: center center;
    /* 카드의 중심을 회전 중심으로 설정 */
}

.card:nth-child(4) {
    top: calc(50% - 5px);
    /* 원의 중심에서 위쪽으로 이동 */
    left: calc(50% - 150px);
    /* 원의 중심에서 왼쪽으로 이동 */
    transform: translate(-50%, -50%) rotate(270deg);
    /* 회전하여 배치 */
    transform-origin: center center;
    /* 카드의 중심을 회전 중심으로 설정 */
}